body {
  overflow: hidden;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #090909;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.JM__animated--line__TT {
  position: absolute;
  top:50%;
  left: -300px;
  z-index: 1;
  background-color: grey;
  height:1px;
  width:300px;
  animation-duration: 9s;
  animation-name: line-left-to-right-1;
  animation-iteration-count: infinite;
    
  -moz-animation-duration: 9s;
  -moz-animation-name: line-left-to-right-1;
  -moz-animation-iteration-count: infinite;
}

.JM__title--treatment {
  z-index:9999;
}


@keyframes line-left-to-right-1 {
  from {
    -webkit-transform: translate(0,0);
  }

  to {
    -webkit-transform: translate(1920px,0);
  }
}

@-moz-keyframes line-left-to-right-1 {
  from {
    -moz-transform: translate(0,0);
  }

  to {
    -moz-transform: translate(1920px,0);
  }
}