$JM__black: #090909;
$JM__white: #909090;

.App-header {
  background-color: $JM__black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}


/*.JM__animated--line__TT {
  background-color: $JM__white;
  display: block;
  height:3px;
  margin-left: -5209px;
  z-index: 1;
  width: 1369px;

  animation-duration: 9.369s;
  animation-name: JM__line-left-to-right-1;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
    
  -moz-animation-duration: 3.369s;
  -moz-animation-name: JM__line-left-to-right-1;
  -moz-animation-iteration-count: infinite;
  -moz-transition-timing-function: linear;
}*/

.JM__animated--line__TT--Black {
  background-color: $JM__black;
  display: block;
  height:2.369px;
  margin-left: -5211px;
  width: 1369px;
  z-index: 9999;
  animation-delay: 7s;
  animation-duration: 9.369s;
  animation-iteration-count: infinite;
  animation-name: JM__line-left-to-right-1;
  transition-timing-function: linear;
    
  -moz-animation-duration: 9.369s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-name: JM__line-left-to-right-1;
  -moz-transition-timing-function: linear;
}

.JM__title--treatment__v1 {
  color: $JM__white;
  font-family: 'Alata', sans-serif;
  font-size: 9.999em;
  margin-top:-10px;
  position: absolute;
  word-break: break-word;
  z-index:999;


  animation-duration: 6s;
  animation-fill-mode:forwards;
  animation-iteration-count: 1;
  animation-name: JM__title--treatment__v1--opacity;
  text-align: center;
  transition-timing-function: linear;
 
}





@keyframes JM__title--treatment__v1--zoom {
  from {
    font-size: 90em;
  }
  to {
    font-size:3.369em;
  }
}

@keyframes JM__title--treatment__v1--opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: .963;
  }
}



@keyframes JM__line-left-to-right-1 {
  from {
    -webkit-transform: translate(-1px,0);
  }

  to {
    -webkit-transform: translate(5211px,0);
  }
}

@-moz-keyframes JM__line-left-to-right-1 {
  from {
    -moz-transform: translate(0,0);
  }

  to {
    -moz-transform: translate(5211px,0);
  }
}



